.home p{
  margin-top:25px;
  font-weight:bold;
  font-family:Helvetica;
}
body{
	background-color:#e1e5ea;
	opacity:.9
}
header{
  text-align:center;
  background-color:#e8ebef;	
}
.logo{
 max-width:73%;
 margin:0 auto;
 display:block;
 position:relative;
}
.footer{
 max-width:100%;
 margin:0 auto;
 padding-top:0%;
 padding-bottom:0px;
 border:2px solid #bbb;
 background-color:#e8ebef;	
}
.footer img{
	background-color:#e8ebef;
	opacity:.99;
  max-width:40%;
}
p{
  font-size:30px;
  text-align:center;
  margin-top:-10px;
  color:black;
  font-weight:italic;
  font-family: 'Alegreya', serif;
}
#price p{
 text-align:left;
 margin-left:30px;
 margin-top:20px;
 border:100%;
 width:115px;
 border-style:groove;
 font-family:'Nunito', sans-serif;}

.image img{
  margin:0 auto;
  max-width:50%;
  display:block;
  position:relative;
}
.image img{
  margin-top:-20px;
}
.images img{
  margin-top:-20px;
  max-width:50%;
  display:block;
}
.images1 img{
  max-width:50%;
  margin-top:-20px;
  display:block;
  position:relative;
}
.image2 img{
    margin:0 auto;
    margin-top:0px;
    display:block;
    border:0px;
    max-width:100%;  
}
.images2 img{
 max-width:50%;
 display:block;
 }
.image1 img{
  max-width:50%;
  display:block;
  margin-top:-20px;
}
.tag img{
  max-width:70%;
  margin:0 auto;
  display:block;
  position:relative;
  height:-100px;
}
#button1, #button2{
  padding-left:30px;
	width:147px;
}
button{
	color:black;
  font-size:20px;
}
li {
  margin-bottom: 1rem;
  font-size:30px;
  margin-left:30px;
  color:black;
  }
table{
  text-align:left;
  margin:0 auto;
  padding-left:420px;
  color:black;
  font-family: 'Oswald', sans-serif;
}  
.table{
  max-width:100%;
  min-width:300px;
  text-align:left;
  height:auto;
  margin:0 auto;
  display:block;
}
.table table img{
  min-width:300px;
  max-width:100%;
  height:auto;
  margin-top:-15px;
  text-align:center;
  position:relative;
}
th{
  text-align:center;
  font-size:30px;
}
td img{
  min-width:300px;
  max-width:100%;
  margin:0 auto;
  height:auto;
  text-align:center;
  position:relative;
  padding-left:10px;
  display:block;
}
h2{
  text-align:center;
  font-weight:bold;
  color:black;
}
h6{
  margin-left:0px;
  font-size:30px;
  text-align:center;
  font-weight:bold;
  color:black;
  font-family: 'Quattrocento Sans', sans-serif;
  }

