body{
		font-family:'Parisienne',cursive; 
		font-size:24px;
		color:#070707;
		background-color:#d3fffc;
		text-align: center
}
#header{
	font-family:'Arima Madurai', cursive;
	text-align:left;
	width:610px;
	border-width:21px;
	border-style:ridge;
	padding:26px;
	margin:37px auto;
	box-shadow:5px 50px 3px #f9897c;
	border-radius:25px;
	color:#9e8ee5;
}
#Otsuka{
		font-family:'Parisienne',cursive;
		text-align:center;
		font-size:35px;
		font-style:italic;
}
#Eragon{
		font-family:"Parisienne",cursive;
}		
		
		