#container {
	width:1914px;
	margin:auto;
	height:900px;
}
body{
	background-image:url(../images/flower.jpeg);
	font-family:'Lemonada'cursive;
	font-size:20px;
	background-size:4090px;
	text-align:center;
	}
#button{
	border-size:20px;	
	text-align:center;
	background-color:#00ffff;
}
#header{
	text-align:center;
	background-color:#ffa500;
	margin:5px;
	border-radius:5px;
	font-size:20px;
}
p{
	font-size:20px;
	font-family:'Lemonada',cursive;
	background-color:#ffff00;
}
#important p{
	background-color:#800080;
	border-style:double;
}
h2{ 
	font-size:30px;
	background-color:#0000ff;
}
h3{
	font-size:30px;
	background-color:#ffffff;
}
h4{
	font-size:30px;
	background-color:#ee82ee;
}
#important{
	border-spacing:8px;
	border: 8px double;
	padding:3px;
}