#container {
	width:1914px;
	margin:auto;
	height:900px;
}
p{
	text-align:center;
	background-color:#ffa500;
}
body{
	background-image:url(../images/flower1.jpeg);
	background-size:2250px;
	font-family:'Cabin',sans-serif;
	text-align:center;
	}
#button{
	border-size:25px;
	border-radius:50px ridge;
}
#important{
		text-align:center;
		border-spacing:8px;
		background-color:white;
		border:20px dotted;
		padding:5px;
}
h2{
	font-family:'Cabin',sans-serif;
	text-align:center;
	background-color:#ff0000;
}
h3{
	font-family:'Cabin',sans-serif;
	text-align:center;
	background-color:#008000;
	font-size:40px;
}
h4{
	font-family:'Cabin',sans-serif;
	text-align:center;
	background-color:#7fffd4;
	font-size:30px;
}
#header{
	text-align:center;
	background-color:#c0c0c0;
}
#important p{
	background-color:#ffffff;
}